<html>
	<head>
		<title>登入系統</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link herf="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<h1>登入</h1>
			<br>
			<form action="" method="post">
				<input type="text" placeholder="帳號" name="userid" value="{{request.form.userid }}">
				<input class="btn btn-default" type="submit" value="登入">
			</form>
			{% if error %}
				<p class="error"><strong>錯誤:</strong> {{error}}
				<p>或<a href="/register">註冊帳號</a></p>
			{% endif %}
		</div>
	</body>
</html>

