<html>
	<head>
		<title>註冊帳號</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link herf="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<h2>註冊帳號</h2>
			<br>
			<form action="" method="post">
				<input type="text" placeholder="帳號" name="userid" value="{{request.form.userid}}">
				<input type="text" placeholder="姓名" name="username" value="{{request.form.usename}}">
				<input class="btn btn-default" type="submit" value="確認">
			</form>
		</div>
	</body>
</html>

